<!DOCTYPE HTML>
<html>
  <head>
    <title>
      <%=title%>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/scripts/help.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/help.css">
  </head>
  <body>
    <!-- Fixed navbar -->
    <%- include('navbar', {title: title}) %>
    <!-- End of navbar -->
    <div class="container">
      <div class="row">
        <h1>
            LEVEL 1-MODULE 2
        </h1>
      </div>
  		<div class="row">
        <div class="col-sm-5">
          <iframe src="http://www.youtube.com/embed/_Xcmh1LQB9I"
              width="448" height="252" frameborder="0" allowfullscreen style="margin-top:20px;">
          </iframe>

          <div class="well" style="margin-top:20px">
             <p >
                  DESCRIPTION:  a a a a a aaaaaaa a a a a a a a a a a  a a aaaaaaaaaaaaaaaa aaaa aaaaa
              </p>
          </div>
        </div>
  			<div class="col-sm-7">
            <div class="question-container well well-modules">
              <div class="question">
                ACTIVITY 1
              </div>
              <div class="response">
                 ABBASSO IL LATINO
              </div>
            </div>
            <div class="question-container well well-modules">
              <div class="question">
                ACTIVITY 2
              </div>
              <div class="response">
                IL LATINO FA SCHIFO
              </div>
            </div>
      </div>
    </div>
  </div>
  </body>
</html>
