<!DOCTYPE HTML>
<html>
  <head>
    <title>
      <%=title%>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/scripts/help.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/help.css">
  </head>
  <body>
    <!-- Fixed navbar -->
    <%- include('navbar', {title: title}) %>
    <!-- End of navbar -->
    <div class="container">
      <div class="question-container">
        <div class="question">
          HURR DURR?
        </div>
        <div class="response">
          HUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUHHHHHHHHHHHUUUUUUUUUUUUUUUUUUUUUUUUUU KJANBDKJWNBDA
        </div>
      </div>
      <div class="question-container">
        <div class="question">
          HURR DURR?
        </div>
        <div class="response">
          HUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUHHHHHHHHHHHUUUUUUUUUUUUUUUUUUUUUUUUUU KJANBDKJWNBDA
        </div>
      </div>
    </div>
  </body>
</html>
