<!DOCTYPE HTML>
<html>
  <head>
    <title>
      <%=title%>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/scripts/help.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/help.css">
  </head>
  <body>
    <!-- Fixed navbar -->
    <%- include('navbar', {title: title}) %>
    <!-- End of navbar -->
    <div class="container">
      <div class="question-container well well-modules">
        <div class="question">
          MA CHE E' QUESTO?
        </div>
        <div class="response">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tellus ante, mattis nec dui id, imperdiet viverra mi. Morbi eget purus nec mi consectetur feugiat dapibus sed justo. Nunc vitae massa eu ex cursus aliquet. Praesent eget ex sit amet magna luctus interdum. Pellentesque sem diam, imperdiet in vehicula nec, lobortis sed nisi. Suspendisse ac feugiat ipsum. Nullam nulla mauris, vulputate id lacus id, elementum ultrices risus. Pellentesque sagittis, tellus vel imperdiet volutpat, ex diam maximus enim, et tempor felis tortor non turpis.

Integer congue libero elementum elementum sodales. Phasellus sodales sem vel ultrices sollicitudin. Integer euismod euismod risus at feugiat. Maecenas consequat malesuada sapien, et fermentum felis sodales in. Nunc facilisis ante rhoncus dignissim commodo. Nulla facilisi. Proin porta elementum facilisis. Nam aliquam metus non tellus viverra tempor. Sed vitae finibus nisl. Vivamus non libero sollicitudin, dictum tortor blandit, fringilla nibh. Integer sit amet ullamcorper felis. Nullam lectus justo, ultrices in semper in, viverra ac justo. Donec eu fringilla diam. Fusce sed porta nibh. Duis tempus venenatis nunc imperdiet semper.
        </div>
      </div>
      <div class="question-container well well-modules">
        <div class="question">
          Ma chi e' il piu bello?
        </div>
        <div class="response">
          Mirkobbello e' il piu bello del reame
        </div>
      </div>
    </div>
    <%- include('footer') %>
  </body>
</html>
