<!DOCTYPE HTML>
<html>
  <head>
    <title>
      Home - Dashboard
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">Dashboard</div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#about">Help</a></li>
            <li><a href="#contact">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End of navbar -->
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <!-- rocket -->
          <div class="col-sm-4" style="height: 500px">
          </div>

          <!-- Level -->
          <div class="col-sm-8" style="height: 500px;">
            <ul class="list-group">
             <li class="list-group-item disabled">Level 8<span class="badge"><span class="glyphicon glyphicon-lock"></span></span></li>
            </ul>
            <ul class="list-group">
             <li class="list-group-item disabled">Level 7<span class="badge"><span class="glyphicon glyphicon-lock"></span></span></li>
            </ul>
            <ul class="list-group">
             <li class="list-group-item disabled">Level 6<span class="badge"><span class="glyphicon glyphicon-lock"></span></span></li>
            </ul>
            <ul class="list-group">
             <li class="list-group-item disabled">Level 5<span class="badge"><span class="glyphicon glyphicon-lock"></span></span></li>
            </ul>
            <ul class="list-group">
             <li class="list-group-item list-group-item-danger">Level 4<span class="badge">0%</span></li>
            </ul>
            <ul class="list-group">
             <li class="list-group-item list-group-item-warning">Level 3<span class="badge">70%</span></li>
            </ul>
            <ul class="list-group">
             <li class="list-group-item list-group-item-success">Level 2<span class="badge">100%</span></li>
            </ul>
            <ul class="list-group">
             <li class="list-group-item list-group-item-success">Level 1<span class="badge">100%</span></li>
            </ul>
          </div>


        </div>

      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </body>
</html>
