<!DOCTYPE HTML>
<html>
  <head>
    <title>
      <%=title%>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/scripts/LineChart.js"></script>
    <script src="/scripts/PieChart.js"></script>
    <script src="/scripts/profile.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
  </head>
  <body>
    <!-- Fixed navbar -->
    <%- include('navbar', {title: title}); %>
    <!-- End of navbar -->
    <%
      if(message == "success"){
        %>
        <center>
          <div class="alert alert-success alert-dismissable" style="width: 60%;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> Your image was uploaded with successfully
          </div>
        </center>
        <%
      }
      if(message == "ext"){
        %>
        <center>
          <div class="alert alert-danger alert-dismissable" style="width: 60%;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> You can upload only file with exstension .png, .jpg, .jpeg
          </div>
        </center>
        <%
      }
    %>
    <div class="container">
		<div class="row">
      <!-- PROFILE -->
			<div class="col-sm-4" id="DIV1">
				<div class="card hovercard">
					<div class="cardheader"></div>
					<div class="profile-image-container big-profile rounded-container">
            <img class="rounded" id="profilePic" alt=""/>
            <form action="/uploadImage" method="POST" enctype="multipart/form-data">
              <div class="buttonImage" onclick="openUpload()">
              </div>
              <input class="hiddenButton" id="imageLoad" name="image" type="file" onchange="this.form.submit()"></input>
            </form>
					</div>
					<div class="info">
						<div class="title" id="profileInfo"></div>
						<div class="desc" id="profilePosition"></div>
						<div class="desc" id="profilePoints"></div>
					</div>
				</div>
			</div>

    	 <!-- END PROFILE -->
      <div class="col-sm-8 panel panel-default">
        <div class="panel-heading text-center">
          <h2>Bravery</h2>
        </div>
  			<div class="panel-body graph-container">
          <svg id="svg1"></svg>
  			</div>
      </div>
		</div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Level statistics</h2>
      </div>
			<div class="panel-body" id="DIV2" style="text-align: center;">
        <div id="grafContainer">
        </div>
        </div>
        <script>
          initProfile();
          initPieChart();
        </script>
		</div>
	</div>
   <%- include('footer') %>
  </body>
</html>
