<!DOCTYPE HTML>
<html>
  <head>
    <title>
      Home - Dashboard
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">

  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">Dashboard</div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#profile" class="container inline-profile">
                <div class="profile-image-container img-circle">
                  <img class="" src="http://www.losangelesstaffingagencies.com/wp-content/uploads/2016/04/confident_Employee.jpg" class="rounded" />
                </div>
                <div class="inline-profile-info">
                  <div class="inline-name">Bob&nbsp;Smith</div>
                  <div class="inline-points">1337 Pt.</div>
                </div>
            </a></li>
            <li><a href="#about">Help</a></li>
            <li><a href="#contact">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End of navbar -->
	
	<!-- PROFILE -->
    <div class="container">
		<div class="row">
			<div class="col-sm-4" id="DIV1">

				<div class="card hovercard">
					<div class="cardheader">

					</div>
					<div class="avatar">
						<img alt="" src="https://trucchifacebook.com/wp-content/uploads/2013/06/facebook-profilo-default.jpg">
					</div>
					<div class="info">
						<div class="title">
							Name Surname
						</div>
						<div class="desc">Position</div>
						<div class="desc">Points: 100</div>
					</div>
				
				</div>
					<style>
					#DIV1 {
					  text-align: center;
					}
				</style>
				<script src="https://d3js.org/d3.v3.min.js"></script>
				<script>

				// Define the data as a two-dimensional array of numbers. If you had other
				// data to associate with each number, replace each number with an object, e.g.,
				// `{key: "value"}`.
				var data = [
				  [70, 30] //completate, da completare
				];

				// Define the margin, radius, and color scale. The color scale will be
				// assigned by index, but if you define your data using objects, you could pass
				// in a named field from the data object instead, such as `d.name`. Colors
				// are assigned lazily, so if you want deterministic behavior, define a domain
				// for the color scale.
				var m = 10,
					r = 100,
					z = d3.scale.category20c();

				// Insert an svg element (with margin) for each row in our dataset. A child g
				// element translates the origin to the pie center.
				var svg = d3.select("#DIV1").selectAll("svg")
					.data(data)
				  .enter().append("svg")
					.attr("width", (r + m) * 2)
					.attr("height", (r + m) * 2)
				  .append("g")
					.attr("transform", "translate(" + (r + m) + "," + (r + m) + ")");

				// The data for each svg element is a row of numbers (an array). We pass that to
				// d3.layout.pie to compute the angles for each arc. These start and end angles
				// are passed to d3.svg.arc to draw arcs! Note that the arc radius is specified
				// on the arc, not the layout.
				svg.selectAll("path")
					.data(d3.layout.pie())
				  .enter().append("path")
					.attr("d", d3.svg.arc()
						.innerRadius(r / 2)
						.outerRadius(r))
					.style("fill", function(d, i) { return z(i); });

				</script>

			</div>

		</div>
	</div>
	 <!-- END PROFILE -->
	  
	  <!-- GRAFICO --> 
	  
	  <!-- END GRAFICO -->  
	  
  </body>
</html>
