<!DOCTYPE HTML>
<html>
  <head>
    <title>
      <%=title%>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
  </head>
  <body>
    <!-- Fixed navbar -->
    <%- include('navbar', {title: title}) %>
    <!-- End of navbar -->

	<!-- PROFILE -->
    <div class="container">
		<div class="row">
			<div class="col-sm-4" id="DIV1">
				<div class="card hovercard">
					<div class="cardheader"></div>
					<div class="profile-image-container big-profile rounded-container">
						<img class="rounded" alt="" src="https://media.giphy.com/media/WsgIIjhiLN38s/giphy.gif">
					</div>
					<div class="info">
						<div class="title">
							Name Surname
						</div>
						<div class="desc">Position: 23</div>
						<div class="desc">Points: 100</div>
					</div>
				</div>
			</div>
			<div class="col-sm-8 well well-leaderboard">
			     <svg id="svg1" width="728" height="360"></svg>
			     <script src="/scripts/LineChart.js"></script>
			</div>
		</div>
	    <div class="row well well-leaderboard">
				<div class="col-sm-12" id="DIV2" style="text-align: center;">
					<script src="/scripts/PieChart.js">
					</script>
				</div>
		</div>
	</div>
	 <!-- END PROFILE -->
   <%- include('footer') %>
  </body>
</html>
