<!DOCTYPE HTML>
<html>
  <head>
    <title>
      <%=title%>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/scripts/LineChart.js"></script>
    <script src="/scripts/PieChart.js"></script>
    <script src="/scripts/profile.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
  </head>
  <body>
    <!-- Fixed navbar -->
    <%- include('navbar', {title: title}) %>
    <!-- End of navbar -->

    <div class="container">
		<div class="row">
      <!-- PROFILE -->
			<div class="col-sm-4" id="DIV1">
				<div class="card hovercard">
					<div class="cardheader"></div>
					<div class="profile-image-container big-profile rounded-container">
						<img class="rounded" alt="" src="https://media.giphy.com/media/WsgIIjhiLN38s/giphy.gif">
					</div>
					<div class="info">
						<div class="title" id="profileInfo"></div>
						<div class="desc" id="profilePosition"></div>
						<div class="desc" id="profilePoints"></div>
					</div>
				</div>
			</div>

    	 <!-- END PROFILE -->
      <div class="col-sm-8 panel panel-default">
        <div class="panel-heading text-center">
          <h2>Bravery</h2>
        </div>
  			<div class="panel-body graph-container">
          <svg id="svg1"></svg>
  			</div>
      </div>
		</div>
    <div class="row panel panel-default">
      <div class="panel-heading">
        Level statistics
      </div>
			<div class="panel-body col-sm-12" id="DIV2" style="text-align: center;">
        <div class="row" >
          <div class="col-sm-1" ></div>
            <div id="grafContainer">
            </div>
          <div class="col-sm-1" ></div>
        </div>
				<div class="row">
          <script>
            initProfile();
            initPieChart();
          </script>
			  </div>
		</div>
	</div>
   <%- include('footer') %>
  </body>
</html>
