<!DOCTYPE HTML>
<html>
  <head>
    <title>
      <%=title%>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/scripts/LineChart.js"></script>
    <script src="/scripts/profile.js"></script>
    <script src="/scripts/test_end.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
  </head>
  <body>
    <!-- Fixed navbar -->
    <%- include('navbar', {title: title}) %>
    <!-- End of navbar -->

    <div class="container-full">
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10 panel panel-default">
          <div class="panel-heading"></div>
          <div class="row panel-body text-center equal-test">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
              <p id="score-section"></p>
              <div class="panel-body graph-container">
                <svg id="svg1"></svg>
        			</div>
            </div>
            <div class="col-xs-2">
            </div>
          </div>

        </div>
        <div class="col-xs-1"></div>
      </div>
    </div>
    <%- include('footer') %>
  </body>
</html>

<script>
  initTestEnd();
</script>
