<!DOCTYPE HTML>
<html>
  <head>
    <title>
      <%=title%>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <!-- Fixed navbar -->
    <%- include('navbar', {title: title}) %>
    <!-- End of navbar -->
    <div class="container">
      <div class="explanation">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet ultrices eros, eget vehicula nisi tincidunt a. Aenean dapibus justo in urna finibus mattis. Curabitur magna eros, placerat ac fringilla et, faucibus vel sem. Etiam arcu enim, vulputate non varius sed, ullamcorper ac ex. Etiam ut nunc nec massa vestibulum ultrices eu a quam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse sed condimentum libero. Fusce vel enim nec mauris viverra tristique. Duis interdum quam nec eros scelerisque pellentesque. Pellentesque eleifend ex eu lacinia molestie. Quisque semper finibus sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ornare quam quis congue convallis. Cras rutrum hendrerit elementum.

Sed sed ante eu risus rhoncus scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce consequat gravida risus, eu vulputate dui lacinia non. Donec porta, dui vitae facilisis varius, ligula nibh rutrum diam, nec dignissim massa ligula sagittis risus. Proin mattis magna nisl, id egestas mi faucibus in. Quisque vitae interdum magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus lacinia ullamcorper fermentum. Proin dolor diam, viverra eget facilisis et, mollis eget est. Maecenas nisl justo, faucibus sed lorem ac, sollicitudin viverra risus. Maecenas facilisis nisi id leo tincidunt porttitor. In rutrum odio volutpat leo luctus dictum.

Phasellus malesuada non felis vitae suscipit. Sed facilisis orci at tortor sollicitudin fringilla. Vestibulum auctor, turpis pretium viverra porttitor, libero purus ornare ipsum, ac mattis tortor odio viverra purus. Vestibulum a purus augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In mauris nulla, bibendum ac aliquam et, mattis et sem. Praesent sit amet lobortis lorem, vel vehicula est.

Curabitur lorem libero, semper in vulputate ut, ornare in tortor. Etiam faucibus tellus eu risus elementum, sed lobortis odio cursus. Nullam rutrum augue sit amet egestas sollicitudin. Etiam et enim nibh. Donec lectus ipsum, vestibulum nec mattis ac, rutrum ut neque. Aliquam viverra vestibulum sem, eu fringilla sem faucibus vehicula. Pellentesque at diam tellus.

Praesent aliquam lacus tellus, ut cursus nibh porttitor ut. Quisque fringilla, mauris eget suscipit mollis, tellus ex blandit elit, vitae finibus lorem est eu metus. Morbi justo purus, aliquet at feugiat eu, volutpat vitae massa. Nam nibh ex, posuere finibus tellus sit amet, sollicitudin luctus nisl. Morbi a diam et augue suscipit fermentum. Mauris pharetra purus in purus pellentesque, id cursus felis pretium. Nullam efficitur sed mauris ut vulputate. Sed semper elit ac quam varius egestas et a ligula. Aenean vitae vehicula nisi. Praesent vitae sollicitudin massa, ac porta arcu. Donec non mauris aliquet, pharetra mi vel, molestie nulla.
      </div>
      <div class="afaccrocazz">

      </div>
    </div>
    <%- include('footer') %>
  </body>
</html>
