.description{
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #fafafa;
}

.activity-video{
  border-radius: 15px;
  margin: 10px 15px 15px 0px;
  height: 250px;
  width: 100%;
}

.activity-locked-message
{
  color: #12124E;
  text-align: center;
  font-size: 3em;
}
