
/*** COLORS
  Main blue: #12124E
  Dark blue: #0C0C38
  Light grey: #cccccc
  Dark grey: #333333
**********/


body {
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/********** NAVBAR *******************/
.navbar-default {
  background-color: #12124E;
  border-color: #000000;
}

.navbar-nav > li{
  margin-top: 0px;
  margin-bottom: 0px;
  bottom: 0px;
}

.navbar-default .navbar-nav > li > a:hover{
  background-color: #0C0C38;
  color: white;
}

.navbar-default .navbar-nav > li > a:focus{
  color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white;
background-color: #0C0C38;
}

.navbar-default .navbar-nav > li > a {
 color: white; /*Change active text color here*/
}

.navbar-brand{
  color: #cccccc !important;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus{
  border-color: #12124E;
  background-color: #12124E;
}

.navbar-default .navbar-toggle:hover{
  background-color: #0C0C38;
}

.navbar.navbar-default .navbar-collapse {
  border: none;
  box-shadow: none;
}

/*****************INLINE PROFILE ******************/
.inline-profile{
  overflow: hidden;
  position: relative;
  height: 50px;
  width: auto;
  padding: 5px 5px 5px 20px !important;
  margin: 0px;
}

.profile-image-container{
  height: 40px;
  width: 40px;
  padding: 0px;
  overflow: hidden;
  float: left;
}

.profile-image-container > img{
  margin: 0px;
  max-height: 100%;
  width: auto;
  overflow: hidden;
}

.inline-profile-info{
  float: left;
  padding-left: 20px;
  padding-right: 50px;
}

.inline-name{
  color: white;
  font-weight: bold;
}

.inline-points{
  color: #cccccc;
  font-style: italic;
}

/******************** END INLINE PROFILE *****************/

/********************* END NAVBAR **************************/

/********************* INIZIO MODULES **********************/
.progress-bar-modules
{
  background-color: #cdf4f4;
  color: #1661e2;
}

.well-modules
{
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 6px;
  box-shadow: 1px 1px 2px #888888;
}

.well-levels
{
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 6px;
  box-shadow: 1px 1px 2px #888888;
}

.well-leaderboard
{
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 6px;
  box-shadow: 1px 1px 2px #888888;
}

.incomplete-progress-bar-modules
{
  background-color: #DDDDDD;
}

/********************* FINE MODULES ************************/

/*******DASHBOARD LEVELS**********/
.list-group-padding{
  padding-top: 30px;
  cursor: pointer;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  margin-left: 15px;
}

.rocket-container{
  border-radius: 6px 6px 6px 6px;
  background-image: url("/imgs/background-star.jpg");
  background-size:100%;
  position: relative;
  top: 0;
  left: 0;
}

.moon{
  background-image: url("/imgs/moon.png");
  background-size:100%;
  height: 80px;
  width: 80px;
  margin-top: 5px;

  position: relative;
  top: 0;
}

.rocket{
  background-image: url("/imgs/rocket.png");
  background-size:100%;
  height: 100px;
  width: 90px;
  background-repeat: no-repeat;

  position: absolute;
  top: 80%;
  left: 50%;

  margin-left: -45px; /* Half the width */
}
/*******END DASHBOARD LEVELS**********/

.line-bottom{
  border-bottom: 1px solid #cccccc;
}

/************** LEADERBOARD **************/
.leaderboard-container{
  overflow:hidden;
  margin: 10px;
  border-radius: 6px 6px 6px 6px;
}

.leaderboard{
  position: inline-block;
  height: 10vw;
  overflow-y: scroll;
  margin-right: -17px;
  border: 1px solid #cccccc;
  border-radius: 6px 6px 6px 6px;
}

::-webkit-scrollbar {
    display: none;
}

.leaderboard-entry{
  height: 50px;
  list-style-type: none;
  padding-bottom: 5px;
}

.leaderboard-position{
  float:left;
  padding-left: 20px;
  color: black;
}

.leaderboard-inline-name{
  padding-left: 20px;
  float:left;
  color: black;
  font-weight: bold;
}

.leaderboard-inline-points{
  padding-left: 20px;
  float: right;
  color: black;
  font-style: italic;
}

.leaderboard-image{
  margin-top: -5px;
}
/************ END LEADERBOARD ***************/

/********************* PROFILO **************************/


.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	box-shadow: 1px 1px 2px #888888;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background: url("http://www.hotelroomsearch.net/im/hotels/it/spazio-19.jpg");
    background-size: cover;
    height: 200px;
}

.card.hovercard .avatar {
    position: relative;
    top: -100px;
    margin-bottom: -100px;
}

.card.hovercard .avatar img {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
	margin-top: 8px;
    margin-bottom: 8px;
    font-size: 30px;
    line-height: 1;
    color: #0291f7;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 16px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }
/********************* FINE PROFILO **************************/
