
/*** COLORS
  Main blue: #12124E
  Dark blue: #0C0C38
  Light grey: #cccccc
**********/


body {
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/********** NAVBAR *******************/
.navbar-default {
  background-color: #12124E;
  border-color: #000000;
}

.navbar-nav > li{
  margin-top: 0px;
  margin-bottom: 0px;
  bottom: 0px;
}

.navbar-default .navbar-nav > li > a:hover{
  background-color: #0C0C38;
  color: white;
}

.navbar-default .navbar-nav > li > a:focus{
  color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white;
background-color: #0C0C38;
}

.navbar-default .navbar-nav > li > a {
 color: white; /*Change active text color here*/
}

.navbar-brand{
  color: #cccccc !important;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus{
  border-color: #12124E;
  background-color: #12124E;
}

.navbar-default .navbar-toggle:hover{
  background-color: #0C0C38;
}

.navbar.navbar-default .navbar-collapse {
  border: none;
  box-shadow: none;
}

/*****************INLINE PROFILE ******************/
.inline-profile{
  overflow: hidden;
  position: relative;
  height: 50px;
  width: auto;
  padding: 5px 5px 5px 20px !important;
  margin: 0px;
}

.profile-image-container{
  position: inline-block;
  height: 100%;
  width: 40px;
  overflow: hidden;
  padding: 0px;
  float: left;
}

.profile-image-container > img{
  margin: 0px;
  max-height: 100%;
  width: auto;
  overflow: hidden;
}

.inline-profile-info{
  float: left;
  padding-left: 20px;
  padding-right: 50px;
}

.inline-name{
  color: white;
  font-weight: bold;
}

.inline-points{
  color: #cccccc;
  font-style: italic;
}

/******************** END INLINE PROFILE *****************/

/********************* END NAVBAR **************************/

/********************* INIZIO MODULES **********************/
.color-modules
{
  background-color: #12124E;	 
}

.incomplete-progress-bar-modules
{
  background-color: #DDDDDD;
}
/********************* FINE MODULES ************************/

/*******DASHBOARD LEVELS**********/
.list-group-padding{
  padding-top: 30px;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  margin-left: 15px;
}

.rocket-container{
  border-radius: 6px 6px 6px 6px;
  background-image: url("/imgs/background-star.jpg");
  background-size:100%;
}
/*******END DASHBOARD LEVELS**********/
