
/*** COLORS
  Main blue: #12124E
  Dark blue: #0C0C38
  Light grey: #cccccc
  Dark grey: #333333
**********/


body {
  padding-top: 70px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 'Roboto', sans-serif;
}

a {
  color: #00B7FF;
}

.text-center{
  margin: 0px 10px 15px 10px;
}

.collapsed{
  display: none;
}

/********** NAVBAR *******************/
.navbar-default {
  background-color: #12124E;
  border-color: #000000;
}

.navbar-nav > li{
  margin-top: 0px;
  margin-bottom: 0px;
  bottom: 0px;
}

.navbar-default .navbar-nav > li > a:hover{
  background-color: #0C0C38;
  color: white;
}

.navbar-default .navbar-nav > li > a:focus{
  color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white;
background-color: #0C0C38;
}

.navbar-default .navbar-nav > li > a {
 color: white; /*Change active text color here*/
}

.navbar-brand{
  color: #cccccc !important;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus{
  border-color: #12124E;
  background-color: #12124E;
}

.navbar-default .navbar-toggle:hover{
  background-color: #0C0C38;
}

.navbar.navbar-default .navbar-collapse {
  border: none;
  box-shadow: none;
}

/*****************INLINE PROFILE ******************/
.inline-profile{
  overflow: hidden;
  position: relative;
  height: 50px;
  width: auto;
  padding: 5px 5px 5px 20px !important;
  margin: 0px;
}

.profile-image-container{
  height: 40px;
  width: 40px;
  padding: 0px;
  overflow: hidden;
  float: left;
}

.profile-image-container > img{
  margin: 0px;
  width: auto;
  overflow: hidden;
}

.rounded-landscape{
  height: 100%;
}

.rounded-portrait{
  width: 100%;
}

.inline-profile-info{
  float: left;
  padding-left: 20px;
  padding-right: 50px;
}

.inline-name{
  color: white;
  font-weight: bold;
}

.inline-points{
  color: #cccccc;
  font-style: italic;
}

/******************** END INLINE PROFILE *****************/

/********************* END NAVBAR **************************/

/********************* INIZIO MODULES **********************/

.well-modules
{
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 6px;
  box-shadow: 1px 1px 2px #888888;
}

.well-levels
{
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 6px;
  box-shadow: 1px 1px 2px #888888;
}

.well-leaderboard
{
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 6px;
  box-shadow: 1px 1px 2px #888888;
}

.incomplete-progress-bar-modules
{
  background-color: #DDDDDD;
}

.modules-arrow-up
{
  padding: 0;
  margin: 0;
  background-image: url("/imgs/arrow_up.png");
  background-size: 100%;

  background-repeat: no-repeat;
  height: 30px;
  width: 30px;

  position: absolute;
  left: 50%;
  margin-left: -15px;

  cursor: pointer;
}
.modules-arrow-down
{
  padding: 0;
  margin: 0;
  background-image: url("/imgs/arrow_down.png");
  background-size: 100%;

  background-repeat: no-repeat;
  height: 30px;
  width: 30px;

  position: absolute;
  left: 50%;
  margin-left: -15px;

  cursor: pointer;

}
.col-xs-2-no-padding{
  padding-left: 0;
  padding-right: 0;
}
.modules-title {
  padding-left: 0;
  padding-right: 0;
}

.btn-arrow{
  font-size: 2em;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
.progress-text{
  font-weight: bold;
  padding-bottom: 15px;
}
.progress{
  position: relative;
  background-color: #505050;
}
.percentage{
  position: relative;
  font-weight: bold;
  color: white;
}
.progress-bar-modules{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #12124E;
}

/********************* FINE MODULES ************************/

/*******DASHBOARD LEVELS**********/
.list-group-padding{
  padding-top: 30px;
  cursor: pointer;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.panel{
  margin: 0;
  padding: 0;
  border-color: #12124E;
  box-shadow: 1px 1px 2px #888888;
  margin-bottom: 20px;
}

.panel-default > .panel-heading{
  margin: 0;
  padding-top: 3;
  padding-bottom: 3;
  background-color: #12124E;
  border-color: #12124E;
  color: #ffffff;
}

h2{
  margin-top: 2px;
  margin-bottom: 2px;
}

.panel-default > .panel-body{
  border-color: #12124E;
  margin: 0px;
}

.rocket-container{
  border-radius: 6px 6px 6px 6px;
  background-image: url("/imgs/background-star.jpg");
  background-size:100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.moon{
  background-image: url("/imgs/moon.png");
  background-size:100%;
  height: 80px;
  width: 80px;
  margin-top: 5px;

  position: absolute;
  top: 0;
  left: 50%;

  margin-left: -40px; /* Half the width */
}

.rocket{
  background-image: url("/imgs/rocket.png");
  background-size:100%;
  height: 100px;
  width: 90px;
  background-repeat: no-repeat;

  position: absolute;
  top: 80%;
  left: 50%;

  margin-left: -45px; /* Half the width */
}

.earth{
  background-image: url("/imgs/earth.png");
  background-size:100%;
  height: 90px;
  width: 90px;
  background-repeat: no-repeat;

  position: absolute;
  top: 100%;
  left: 50%;

  margin-left: -45px; /* Half the width */
  margin-top: -45px;
}
/*******END DASHBOARD LEVELS**********/

.line-bottom{
  border-bottom: 1px solid #cccccc;
}

/************** LEADERBOARD **************/
.leaderboard-container{
  overflow:hidden;
  margin: 10px;
  border-radius: 6px 6px 6px 6px;
}

.leaderboard{
  position: inline-block;
  height: 10vw;
  overflow-y: scroll;
  margin-right: -17px;
  border: 1px solid #cccccc;
  border-radius: 6px 6px 6px 6px;
}

::-webkit-scrollbar {
    display: none;
}

.leaderboard-entry{
  height: 50px;
  list-style-type: none;
  padding-bottom: 5px;
}

.leaderboard-position{
  float:left;
  padding-left: 20px;
  color: black;
}

.leaderboard-inline-name{
  padding-left: 20px;
  float:left;
  color: black;
  font-weight: bold;
}

.leaderboard-inline-points{
  padding-left: 20px;
  float: right;
  color: black;
  font-style: italic;
}

.leaderboard-image{
  margin-top: -5px;
}
/************ END LEADERBOARD ***************/

/*************** BRAVE TEST ****************/
.well-bravometer{
  margin: auto 0px auto 0px;
  text-align: center;
}

.test-btn, .test-btn:hover, .test_btn:active{
  background-color: transparent;
  position: relative;
  width: 100%;
  padding: 10px;
  color: #12124E !important;
  border: 2px solid #12124E;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  text-decoration: none !important;
  cursor: pointer;
}

.test-btn:hover{
  background-color: #F3F3F6;
}

.bravometer{
  width: 300px;
  position: relative;

  left: 50%;
  margin-left: -150px;
}
/*************** END BRAVE TEST **************/
